<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918173771607-nlt4ln46g1oh06ak5g90qlt83epnclhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918173771607-nlt4ln46g1oh06ak5g90qlt83epnclhm</string>
	<key>API_KEY</key>
	<string>AIzaSyD716cxiSZdC_2WGrhBDzKJ6zy9-PR2lro</string>
	<key>GCM_SENDER_ID</key>
	<string>918173771607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaselogin</string>
	<key>PROJECT_ID</key>
	<string>flutterbootcamp-9b6fa</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterbootcamp-9b6fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918173771607:ios:cd3d4862e9c3627d328012</string>
	<key>DATABASE_URL</key>
	<string>https://flutterbootcamp-9b6fa.firebaseio.com</string>
</dict>
</plist>